.rss-card {
  $base_class: &;

  background-color: clr(accent-secondary);
  color: clr(text);
  display: block;
  position: relative;
  text-decoration: none;

  &__wrapper {
    @include list-reset;

    + #{$base_class}__wrapper {
      margin-top: $space-xs;
    }
  }

  &:hover,
  &:focus {
    background-color: clr(accent-secondary-transparent);

    #{$base_class}__heading {
      border-bottom-color: clr(text);
    }
  }

  &::before {
    content: "";
    background-color: clr(primary);
    display: block;
    left: 0;
    position: absolute;
    height: 100%;
    width: 2px;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    padding: $space-xs $space-s;

    @include large {
      align-items: center;
      flex-wrap: nowrap;
      padding-top: $space-xxs;
      padding-right: $space-l;
      padding-bottom: $space-xxs;
      padding-left: 0;
    }

    &--notices-feed {
      display: grid;
      grid-template-columns: none;
      gap: $space-xs;

      @include medium {
        grid-template-columns: 3fr 3fr 5fr 2fr 2fr 1fr;
      }
    }
  
  }

  &__text-content {
    @include large {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
    }
  }

  &__date {
    margin-top: $space-xxs;
    margin-bottom: $space-s;
    font-size: $font-12;

    @include large {
      font-size: $font-16;
      margin-top: 0;
      margin-bottom: 0;
      margin-left: $space-m;
      min-width: 82px;
    }
  }

  &__heading {
    @include word-wrap;

    border-bottom: $border-thick-transparent;
    font-size: $font-16;
    font-weight: $font-weight-regular;
    line-height: 1.75;
    margin-bottom: 0;
    word-break: break-word;
    width: fit-content;

    @include mobile-breakpoint {
      overflow-wrap: initial;
      word-break: initial;
    }
    @include large {
      font-size: $font-20;
      line-height: 1.4;
      margin-top: 0;
      margin-bottom: 0;
      margin-left: $space-l;
    }
  }

  &__icon-content {
    display: flex;
    justify-content: center;
    margin-left: auto;
  }

  &__icon {
    margin-left: $space-m;
    height: $icon-default;
    width: $icon-default;
  }

  // Variations
  &--colorful {
    background-color: clr(muted);

    &:hover,
    &:focus {
      background-color: clr(muted-transparent);
    }

    #{$base_class}__icon {
      color: clr(primary);
    }
  }
}
