.basic-content {
  $base_class: &;

  --text-content-max-width: 100%;
  --page-content-max-width: var(--basic-content-max-width);

  @include large {
    .main-content--with-sidebar & {
      margin-left: $gutter-sidebar-content * (-1);

      #{$base_class}__main-content {
        padding-left: $gutter-sidebar-content;
        padding-right: $gutter-sidebar-content;
      }
    }
  }

  &__header-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__pre-title-content {
    order: 2;
  }

  &__main-image-wrapper {
    @include breakout(0);

    order: 1;

    .main-content--with-sidebar & {
      @include large {
        margin-left: $gutter-sidebar-content * (-1);
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
      }
    }

    .main-content--with-sidebar &:not(#{$base_class}__main-image-wrapper--no-bottom-margin) {
      @include large {
        margin-bottom: $gutter-large;
      }
    }
  }

  &__main-image {
    @include large {
      @include centered-content($max-width: $max-width);
    }

    .main-content--with-sidebar & {
      @include large {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  &__heading {
    order: 3;
    margin-top: $gutter-medium;

    @include large {
      margin-top: $gutter-default;
    }

    &--no-margin {
      margin: 0;
    }

    &--no-preceding-content {
      margin-top: $gutter-small;

      @include large {
        margin-top: $gutter-medium-plus;
      }
    }

    .main-content--with-sidebar & {
      @include large {
        margin-top: (-1) * $space-s;
      }
    }

    .main-content--with-sidebar &--no-preceding-content {
      @include large-down {
        margin-top: 0;
      }
    }
  }

  &__main-content {
    @include centered-content;
    @extend %undo-content-centering-with-sidebar;
  }

  &__last-updated {
    @include page-element-spacer;

    font-size: $font-12;
    text-align: right;
    max-width: var(--basic-component-max-width);

    @include large {
      font-size: $font-16;
    }
  }
}
