$inline-menu-mobile-font-size: $font-14;
$inline-menu-desktop-font-size: $font-16;
$inline-menu-mobile-main-font-size: $font-18;
$inline-menu-desktop-main-font-size: $font-22;
$inline-menu-main-font-size--small: $font-18;
$inline-menu-item-margin-bottom: $space-s;
$inline-menu-item-margin-right: $space-m;

@mixin inline-default {
  @include list-reset;

  font-family: $font-heading;
  font-size: $inline-menu-mobile-font-size;

  @include large {
    font-size: $inline-menu-desktop-font-size;
  }

  &__item {
    margin: 0 $inline-menu-item-margin-right $inline-menu-item-margin-bottom 0;
    display: inline;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    @include word-wrap;

    text-decoration: none;
  }
}

.inline-navigation {
  @include large-down {
    width: 100%;
  }
}

.inline-menu {
  $base_class: &;

  @include inline-default;

  #{$base_class}__icon {
    display: none;
    pointer-events: none;
  }

  &--footer {
    font-family: $font-body;

    #{$base_class}__item {
      margin-right: $space-xs;

      @include mobile-breakpoint-down {
        display: inline-block;
      }
    }

    #{$base-class}__item::before {
      content: '\2022';
      color: clr(text-inverse);
      margin-right: $space-xs;
    }

    #{$base-class}__link {
      @include link(clr(text-inverse), clr(text-inverse));

      &:hover,
      &:focus {
        text-decoration: underline;
        text-underline-position: under;
      }
    }
  }

  &--main-secondary,
  &--main {
    #{$base_class}__item {
      @include large-down {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        margin: 0;
      }
    }
  }

  &--main-secondary {
    #{$base_class}__item {
      justify-content: left;
    }

    #{$base-class}__link {
      @include link(clr(text-inverse), clr(text-inverse));

      @include large-down {
        margin-right: calc($icon-menu-item--small + $space-m) * (-1);
        padding: $space-xs calc($icon-menu-item--small + $space-m) $space-xs
          $space-xs;
      }

      @include large {
        @include link(clr(text), clr(text));
      }

      &:hover,
      &:focus {
        text-decoration: underline;
      }

      &--is-active {
        @include large {
          font-weight: $font-weight-semi-bold;
          text-decoration: underline;
        }
      }
    }

    #{$base_class}__icon {
      color: clr(text-inverse);
      height: $icon-menu-item--small;
      margin-left: $space-xs;
      width: $icon-menu-item--small;

      @include large-down {
        display: block;
      }
    }
  }

  &--main {
    font-size: $inline-menu-mobile-main-font-size;

    @include large-down {
      background-color: clr(background);
      margin-top: $space-s;
      margin-bottom: $space-s;
    }

    @include large {
      font-size: $inline-menu-desktop-main-font-size;
    }

    #{$base-class}__item {
      @include large {
        display: inline;
      }

      + #{$base-class}__item {
        @include large {
          margin-top: $space-m;
        }
      }
    }

    #{$base-class}__link {
      @include link(clr(text), clr(text));

      display: block;

      @include large-down {
        margin-right: calc($icon-menu-item + $space-m-plus) * (-1);
        padding: $space-xs-plus $space-m-plus;
        width: 100%;
      }

      @include large {
        display: inline-block;

        &:hover,
        &:focus {
          &::after {
            background-color: clr(secondary);
          }
        }
      }

      &--is-active {
        @include large {
          border-bottom: $border-thick-secondary;
        }
      }
    }

    #{$base_class}__icon {
      color: clr(primary);
      height: $icon-menu-item;
      margin-right: $space-m-plus;
      margin-left: auto;
      width: $icon-menu-item;

      @include large-down {
        display: block;
      }
    }
  }

  &--main,
  &--main-inverted {
    font-weight: $font-weight-semi-bold;

    #{$base-class}__item {
      margin-bottom: 0;
    }

    #{$base-class}__link {
      position: relative;

      &:hover,
      &:focus {
        text-decoration: underline;
      }

      @include large {
        @include link(clr(text), clr(text));

        display: inline-block;

        &:hover,
        &:focus {
          text-decoration: none;

          &::after {
            content: '';
            display: block;
            position: absolute;
            height: 2px;
            width: 100%;
          }
        }
      }

      &--is-active {
        @include large {
          font-weight: $font-weight-bold;
        }
      }
    }
  }

  &--main-inverted {
    font-size: $inline-menu-desktop-main-font-size;
    font-weight: $font-weight-semi-bold;

    @include large {
      display: flex;
      flex-flow: column;
    }

    #{$base-class}__item {
      margin-bottom: 0;

      // XO-7359 @MAGIC: On devices where the hamburger menu is inside the main menu,
      // the first child gets a fixed height and flex behavior to align the text with 
      // the main menu column titles. We then use padding and margin to set the correct spacings.
      &:nth-child(1) {
        align-items: flex-end;
        display: flex;
        height: var(--main-menu-title-height);
        margin-bottom: -11px;
        padding-bottom: 11px;
      }

      + #{$base-class}__item {
        margin-top: $space-l;
      }
    }

    #{$base-class}__link {
      @include link(clr(text), clr(text));

      display: inline-block;

      &:hover,
      &:focus {
        text-decoration: underline;

        &::after {
          background-color: clr(background);
        }
      }

      &--is-active {
        border-bottom: $border-thick-inverse;
      }
    }
  }
}
