.sidebar-menu-container {
  $base_class: &;

  --sidebar-menu-container-accent-color: #{clr(secondary)};
  --sidebar-menu-container-border-color: #{clr(secondary)};

  height: 100%;
  margin-bottom: $gutter-medium;
  overflow: hidden;
  padding: 0 $space-s;

  @include large {
    margin-bottom: 0;
    padding: 0;
  }

  &__heading-container {
    align-items: center;
    border: 2px solid var(--sidebar-menu-container-border-color);
    display: flex;
    justify-content: space-between;
    min-height: $space-l + $space-xs;
    position: relative;

    @include mobile-breakpoint-down {
      flex-wrap: wrap;
    }

    @include large {
      display: none;
      border-top: 0;
      border-bottom: 0;
      justify-content: flex-start;
      margin-left: $gutter-medium;
      min-height: unset;
    }

    @include large-plus {
      margin-left: $gutter-default;
    }
  }

  &__toggle {
    align-items: center;
    align-self: stretch;
    background-color: transparent;
    border: 0;
    // NOTE XO-7347: In XO-2300 had text color set as text-inverse, however on dev env testing the text color was displayed wrong. Set back to text here.
    // Any menus with darkly colored menu buttons should be checked for complications
    color: clr(text);
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-left: auto;
    padding: calc((#{$space-xl} - #{$sidebar-menu-icon-size}) / 2);
    width: auto;
    white-space: nowrap;

    @include large {
      display: none;
    }

    &[aria-expanded="true"] {
      font-weight: $font-weight-bold;
    }

    &.is-closed-on-mobile {
      #{$base_class}__icon {
        transform: rotate(180deg);
      }
    }
  }

  &__icon {
    height: $sidebar-menu-icon-size;
    order: -1;
    width: $sidebar-menu-icon-size;

    &:not(:only-child) {
      margin-right: $space-xs;
    }

    @include large {
      height: $sidebar-menu-icon-size--desktop;
      width: $sidebar-menu-icon-size--desktop;
    }
  }

  &__menu-container {
    @include large {
      border-right: $border-thick-default;
      padding-right: $space-l;
      height: 100%;
    }

    &::before {
      content: "";
      display: none;
      padding-bottom: $space-s;
      margin-left: $space-l;
      margin-right: (-1) * $space-l;
      border-top: $border-thick-default;

      @include large {
        display: block;
        margin-left: $sidebar-menu-link-left-padding--desktop;
      }

      @include large-plus-down {
        margin-left: $space-l;
      }
    }

    &.is-closed-on-mobile {
      display: none;

      @include large {
        display: block;
      }
    }
  }

  &--minisite {
    --sidebar-menu-container-accent-color: #{clr(primary-light)};
    --sidebar-menu-container-border-color: #{clr(primary-light)};
  }

  &--is-heading {
    @include wrapper($h-padding: 0, $h-padding-large: 0);



    @include large {
      display: block;
    }

    #{$base_class}__heading-container {
      @include large {
        display: block;
        width: calc(#{$sidebar-width} - 3%);
        min-width: 285px;
      }
    }

    #{$base_class}-title__heading-link {
      @include large-plus-down {
        padding-left: $sidebar-menu-link-left-padding;
        left: $sidebar-menu-link-left-padding--desktop * (-0.5);
      }
    }
  }
}