.topics-and-life-situations {
  @include page-element-spacer;

  &__heading {
    @include section-heading;

    margin-bottom: $space-xs;

    @include large {
      margin-bottom: $space-l;
    }

    .topics-and-life-situations--default & {
      margin-bottom: 0;
    }
  }

  &--default {
    .link-list--large-icons {
      @include large {
        padding-top: $space-xs;
      }
    }
  }

  &--primary {
    @include page-element-spacer('padding');

    background-color: clr(accent-secondary);
    padding-left: $space-s;
    padding-right: $space-s;
    height: 100%;
    margin: 0;

    @include large {
      padding-left: $gutter-default;
      padding-right: clamp($space-m, 5%, $gutter-default);
    }
  }
}
