.remove-facets {
  display: none;
  padding-top: $space-m;
  padding-bottom: $space-m;

  @include large {
    padding-bottom: $space-l;
  }

  &__link {
    color: clr(primary);
    font-size: $font-16;
    text-underline-position: under;
    text-decoration-thickness: 1px;

    @include large {
      font-size: $font-20;
    }

    &:focus,
    &:hover {
      text-decoration: none;
    }
  }
}
