{% set remove_facets__base_class = "remove-facets" %}

<a 
  {{ bem(remove_facets__base_class, remove_facets__modifiers, remove_facets__blockname)}} 
  href="{{search_link}}"
>
  {{  "Remove filters"|t }}
</a>