.facet-accordion {
  $base_class: &;

  &__headings {
    display: flex;
    flex-wrap: wrap;
    gap: $space-s;

    @include large {
      gap: 0;
    }

    .accordion-heading:not(:last-child) {
      @include large {
        margin-right: -2px;
      }
    }
  }
}

.facet-accordion-item {
  $base_class: &;

  &__heading {
    @include button-default;
    @include button;

    text-decoration: none;

    &.is-active {
      background-color: clr(primary);
      color: clr(text-inverse);

      #{$base_class}__title {
        text-decoration: underline;
        text-underline-position: under;
      }
    }

    &:hover,
    &:focus {
      text-decoration: none;

      #{$base_class}__title {
        text-decoration: underline;
        text-underline-position: under;
      }
    }
  }

  &__title {
    margin: 0;
    font-size: $font-16;
    font-weight: $font-weight-medium;

    @include large {
      font-size: $font-20;
    }
  }

  &__count {
    background-color: #ae1e20;
    border: 1px solid clr(accent-secondary);
    border-radius: 32px;
    color: clr(text-inverse);
    display: inline-block;
    font-size: $font-18;
    margin-left: 32px;
    min-width: 30px;
    padding: 4px 10px;
  }

  // Toggled with JS.
  &__count-desc {
    display: none;
  }

  &__facet-number {
    @include heading-medium;

    margin: 0;
    margin-left: $space-m;
    background-color: clr(facet);
    color: clr(text-inverse);
    padding: 0 12px;
    border-radius: 48px;
    display: none;
  }

  &__content {
    display: none;

    &.active {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__list {
    @include list-reset;

    display: flex;
    flex-wrap: wrap;
    margin-top: $space-m;
  }

  &__list-item {
    color: clr(primary);
    border: $border-thin-primary;
    border-radius: $space-l;
    margin: 6px;
    position: relative;
    font-size: $font-16;
    display: flex;
    align-items: center;
    text-underline-offset: 4px;
    width: fit-content;

    @include large {
      font-size: $font-16;
    }

    &:focus-within {
      outline: 1px solid clr(focus);
      outline-offset: var(--focus-outline-offset);
    }

    &:focus-within,
    &:hover {
      text-decoration: underline;
    }

    &.cludo-filter {
      font-size: $font-16;
      border: $border-thin-primary;
      margin: 6px;
    }

    &.is-active {
      background-color: clr(primary);
      color: clr(text-inverse);
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }

      &::after {
        @include close-icon-white;

        content: '';
        display: inline-block;
        margin-left: $space-s * (-1);
        pointer-events: none;
        position: relative;
        right: $space-m;
        top: 1px;
        height: $icon-xs;
        width: $icon-xs;
      }

      label {
        padding-right: $space-xl;
      }
    }

    label,
    .facets-checkbox {
      cursor: pointer;
    }

    label {
      padding: $space-xs $space-m;
    }

    .facets-checkbox {
      position: absolute;
      opacity: 0;
      width: 1rem;
      height: 1rem;
      top: 0;
      left: 0;
    }
  }
}
