.content-img {
  margin: 0;
  max-width: $basic-content-max-width;

  &__link {
    display: block;
  }

  &__figure {
    width: 100%;
  }

  &__caption {
    font-size: $font-14;
    background-color: clr(accent-secondary);
    padding: $space-xs $space-s;

    @include large {
      padding: $space-xs $space-l;
      font-size: $font-18;
    }
  }
}