/* Status message colors inverted */
.messages {
  background-color: #f3f4f9 !important;
  color: #353641 !important;
}

.messages a:not(.button) {
  color: #22437b !important;
}

.messages a:hover:not(.button) {
  color: #29549a !important;
}

/* Dropbutton item max-width was hiding long paragraph names */
.dropbutton__item:first-of-type ~ .dropbutton__item {
  max-width: none;
}

/* Paragraph field modifications for space between text and buttons */
.js .field--widget-paragraphs-classic-asymmetric .dropbutton-wrapper {
  margin-right: 1rem;
}

.field--widget-paragraphs-classic-asymmetric .form-actions {
  align-items: center;
}

.field--widget-paragraphs-classic-asymmetric .placeholder {
  margin-left: 8px;
}

/*
  Buttons in entity lists (e.g. internal link paragraph with selected content)
  set to minimum width to make the remove/edit buttons same width.
*/
.entities-list .item-container > input {
  min-width: 130px;
}

/* Admin language switcher */
.block-language {
  margin-bottom: 1rem;
}

.block-language h2 {
  font-size: 1.2rem;
  margin-bottom: 0;
}

/*
  This is meant for hiding the "This value should not be null." notices that
  sometimes appear (and disappear on their own) when a required field has been
  hidden from the form display for "content_liftup" paragraphs. This notice
  doesn't seem to be used to display any other type of information for the
  content liftups currently, but if this is to change the style should be
  removed and replaced with another solution.

  The attribute selectors are chained, because Drupal adds multiple
  sequence numbers within a single attribute value, for example:
  "edit-field-paragraphs-3-subform-field-grouped-content-liftups-0-info-validation-error".
*/
[data-drupal-selector*="edit-field-paragraphs"][data-drupal-selector*="subform-field"][data-drupal-selector*="content-liftups"][data-drupal-selector*="info-validation-error"] {
  display: none;
}

/* Fix for media library grid view item names being cut off */
.media-library-item__preview {
  padding-bottom: 3rem !important;
}

/*
  Keep admin toolbar active items readable.
  Same style is applied for the frontend in _04-base.scss
*/
.toolbar-icon.toolbar-item.is-active,
.toolbar-item.is-active {
  color: #fff !important;
}
