.place-contact {
  @include page-element-spacer;

  $base-class: &;

  border: $border-contact;
  font-size: $font-14;

  @include large {
    font-size: $font-18;
  }

  &__content {
    padding: $space-s $space-xs;

    @include large {
      padding: $space-xl;
    }

    > * + * {
      margin-top: $space-l;
    }
  }

  &__heading-container {
    position: relative;
    width: fit-content;
  }

  &__name { 
    @include heading-medium(
      $line-height: $contact-card-line-height,
      $mobile-line-height: $contact-card-line-height--mobile
    );
  }

  &__name-link {
    @include contact-card-heading-link;
  }

  &__icon {
    position: absolute;
    right: $space-l * (-1);
    bottom: -6px;
    height: $icon-xs;
    width: $icon-xs;
  }

  &__main-content,
  &__column {
    > * + * {
      margin-top: $space-m;
    }
  }

  &__two-column-container {
    @include large {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: $gutter-large;
    }
  }

  &__additional-content-label {
    font-weight: $font-weight-bold;
  }

  &__additional-content {
    --field-label-font-weight: $font-weight-normal;
    hyphens: auto;

    @include large {
      font-size: $font-16;
    }

    > *:not(#{$base_class}__additional-content-label) {
      margin-top: $space-xs;
    }
  }

  &--accordion-content-view-mode,
  .paragraph--view-mode-accordion-content-view-mode & {
    @include accordion-content-spacer;
  }
}
