.text-with-bgcolor {
  $base_class: &;

  @include page-element-spacer;
  @include mobile-breakpoint {
    display: grid;
    column-gap: 0;
    row-gap: 0;
    overflow: hidden;
  }

  hyphens: auto;

  @include medium {
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  }

  &--third {
    @include medium {
      grid-template-columns: 1fr 2fr;
    }

    &#{$base_class}--reverse {
      @include medium {
        grid-template-columns: 2fr 1fr;
      }
    }
  }

  &__text-box {
    background: #f1eeeb;
    padding: $space-m;

    @include large {
      padding: $space-l;
    }

    p:last-of-type {
      margin-bottom: 0;
    }

    &:nth-child(2) {
      background: none;
      padding-right: 0;
      padding-left: 0;

      @include medium {
        padding-left: $space-m;
      }

      @include large {
        padding-left: $space-l;
      }
    }

    // Set max-width for text content elements inside text-with-bgcolor
    .field-text-bgcolor {
      ul,
      ol {
        max-width: var(--text-content-max-width);
      }
    }
  }

  &--reverse {
    #{$base_class}__text-box {
      background: none;
      padding-right: 0;
      padding-left: 0;

      @include medium {
        padding-right: $space-m;
        padding-left: 0;
      }

      @include large {
        padding-right: $space-l;
      }

      &:nth-child(2) {
        background: clr(accent-secondary);
        padding: $space-m;

        @include large {
          padding: $space-l;
        }
      }
    }
  }

  &__summary {
    background: #f1eeeb;
    padding: $space-m;
    margin: 0 1rem;

    @include large {
      margin: 0;
      padding: $space-l;
    }

    &__title {
      margin-bottom: 0.25rem;
    }

    &__text {
      margin: 0 0 24px;
      hyphens: auto;
      height: 75px;

      &--default {
        height: 75px;
        overflow: hidden;
        mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
      }

      &--expanded {
        height: auto;
        overflow: hidden;
        mask-image: none;
      }
    }

    .expand-button {
      padding-left: 0rem;
      border: none;
      color: var(--c-primary);
      background-color: transparent;

      .accordion__icon {
        height: 15px;
        width: 20px;
        margin-right: 1rem;

        &--expanded {
          transform: rotate(0deg);
        }

        &--collapsed {
          transform: rotate(180deg);
        }
      }

      &:hover {
        text-decoration: underline;
        text-underline-offset: 3px;
      }
    }

    .b p:last-of-type {
      margin-bottom: 0;
    }
  }
}
