.attachment-list {
  $base_class: &;

  @include page-element-spacer;

  padding: 0;
  max-width: var(--basic-component-max-width);

  &__heading {
    @include text-element-spacer;
    @include heading-large;

    margin-bottom: $space-xs;

    @include large {
      margin-bottom: $space-xs-plus;
    }
  }

  &__body {
    font-size: $body-font-size-mobile;
    max-width: var(--text-content-max-width);
    hyphens: auto;

    @include large {
      font-size: $body-font-size;
    }
  }

  &__list {
    @include list-reset;

    padding: 0;

    width: 100%;

    @include medium {
      width: 50%;
    }

    @include large {
      width: 66%;
    }
  }

  &__attachment {
    border-bottom: 2px solid clr(border);
  }

  &__link {
    text-decoration: none;
    color: clr(text);
    display: flex;
    flex-direction: column;
    padding: 0 $space-xs-plus;
    gap: $space-m;

    @include mobile-breakpoint-down {
      padding-top: $space-xs-plus;
      padding-bottom: $space-xs-plus;
    }

    &:focus,
    &:hover {
      #{$base_class}__name,
      #{$base_class}__file-info {
        text-decoration: underline;
        text-underline-offset: 3px;
      }
    }
  }

  &__file {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mobile-breakpoint-down {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__file-heading {
    display: flex;
    margin: $space-s $space-xs;
    margin-inline-end: auto;

    @include mobile-breakpoint-down {
      flex-direction: column;
    }
  }

  &__name,
  &__file-info {
    @include word-wrap;

    margin: 0;
    margin-right: $space-xs;
    font-family: $font-heading;
    font-size: $font-18;

    @include large {
      font-size: $font-20;
    }
  }

  &__additional-icon,
  &__icon {
    flex-shrink: 0;
    margin: 0 $space-xs;
    height: $icon-default;
    width: $icon-default;
  }

  &__summary {
    margin: 0 $space-l $space-s $space-m;
    font-size: $font-14;
    font-family: $font-body;
    flex-basis: 100%;

    @include large {
      font-size: $font-18;
      margin: 0 $space-l $space-s $space-l;
    }
  }

  &--accordion-content-view-mode {
    @include accordion-content-spacer;

    #{$base_class}__list {
      margin-left: $space-xs * (-1);
      margin-right: $space-xs * (-1);

      @include large {
        margin-left: $space-l * (-1);
        margin-right: $space-l * (-1);
      }
    }

    #{$base_class}__link {
      padding-left: $space-xs;

      @include large {
        padding-left: $space-s;
      }
    }

    .attachment-list {
      &__list {
        @include medium {
          width: calc(50% + #{$space-xs});
        }

        @include large {
          // This calculation is to compensate the parent's margin.
          width: calc(0.66 * (100% + #{$space-l * 2}));
        }
      }
    }
  }
}

.collection-page-content,
.wide-content {
  .attachment-list {
    &__list {
      @include medium {
        width: 66%;
      }

      @include large {
        width: 50%;
      }
    }

    &--accordion-content-view-mode {
      .attachment-list {
        &__list {
          @include medium {
            width: 66%;
          }
        }
      }
    }
  }
}
