/* Styles related to Drupal blocks */

.block {
  &--breadcrumb {
    .mobile-breadcrumb {
      display: block;

      @include medium {
        display: none;
      }
    }
    .desktop-breadcrumb {
      display: none;

      @include medium {
        display: block;
      }
    }
  }

  &--react-and-share {
    @include centered-content($max-width: $max-width);
    @include page-element-spacer;

    // Activates scroll when needed, otherwise in windows scroll is always active
    overflow: auto;

    @include large {
      .layout-container--with-sidebar & {
        padding-left: 0;
        padding-right: $gutter-sidebar-content;
      }
    }
  }

  &--tre-cludo-search-block {
    width: 100%;

    .search-bar--with-label {
      width: 100%;
    }

    .search-bar__label {
      @include visually-hidden;
    }

    .search-bar__button {
      max-width: unset;
      padding: 13px $space-s;
      width: unset;

      &:hover,
      &:focus {
        text-decoration: underline;
        text-underline-position: under;
      }

      .button__text {
        padding-right: $space-s;
        font-size: $font-14;

        @include large {
          font-size: $font-20;
        }
      }
    }
  }

  &.search-bar {
    .form-item {
      margin: 0;
    }

    .form-submit {
      margin: 0;
      padding: 0;
    }

    .form-item__label {
      @include visually-hidden;
    }

    .form-item__textfield {
      background-image: none !important; // Overriding autocomplete input styles from module
    }
  }
}

