.topical-content {
  --page-content-max-width: var(--article-content-max-width);

  @include centered-content(var(--article-content-max-width));

  @include large {
    .main-content--with-sidebar & {
      --basic-component-max-width: #{$article-max-width};

      margin-right: 0;
      margin-left: $gutter-sidebar-content * (-1);
      padding-left: $gutter-sidebar-content;
      padding-right: $gutter-sidebar-content;
    }
  }

  &__tags,
  &__summary {
    margin-top: $gutter-small;
    margin-bottom: $gutter-small;

    @include large {
      margin-top: $gutter-medium;
      margin-bottom: $gutter-medium;
    }
  }

  &__main-content > *:not(.field-authors) {
    @include page-element-spacer;
  }
}
