.eventz-liftups-container {
  position: relative;
  min-height: 300px;

  .loader-wrapper {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $space-m;
    z-index: 10;
  }

  &.is-hydrated {
    .loader-wrapper {
      display: none;
    }
  }

  &.has-error {
    .loader-wrapper {
      display: none;
    }
  }

  .eventz-liftups-content {
    visibility: hidden;
  }

  &.is-hydrated .eventz-liftups-content,
  &.has-error .eventz-liftups-content {
    visibility: visible;
  }

  .loader {
    width: 48px;
    height: 48px;
    border: 4px solid var(--c-card-border);
    border-top-color: var(--c-accent-transparent);
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }

  .loader-text {
    margin: 0;
    font-size: 1.25rem;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}