{% set dates_field_group__base_class = "dates-field-group" %}

{% if not dates_field_group__modifiers %}
  {% set dates_field_group__modifiers = [] %}
{% endif %}

{% if use_smaller_font_size %}
  {% set dates_field_group__modifiers = dates_field_group__modifiers|merge([ "smaller-font-size" ]) %}
{% endif %}

{% if dates_content|render|trim %}
  {% set has_dates_content = TRUE %}
{% endif %}

  <div {{ bem(dates_field_group__base_class, dates_field_group__modifiers, dates_field_group__blockname, [ "hyphenate" ]) }}>
    {{ dates_content }}
    {{ custom_event_dates }}
    {{ time_limits }}
  </div>
