body {
  color: $color-body;

  @include body-copy;
}

.text-long {
  &:not(.field--view-mode-search-result) {
    p {
      @include paragraph;
    }
  }

  &.field--view-mode-search-result {
    p {
      margin: 0;
    }
  }

  // Migrated content marks "External link" spans with this pair of classes.
  // The element is redundant because on our site external links are marked as such by a script.
  .sr-only.rs_skip {
    display: none;
  }
}

.summary {
  &.field--view-mode-full {
    @include summary;
  }
}

.participate-summary {
  @include participate-summary;
}

// CKEditor custom styles
p.phone-icon-prefix {
  background-image: url('/themes/custom/tampere/images/phone-white.svg');
  background-position: left;
  background-repeat: no-repeat;
  background-size: $space-m;
  font-weight: $font-weight-bold;
  padding-left: $space-l;

  @each $palette in $minisitePalettes {
    $i: index($minisitePalettes, $palette);
    .palette-#{$i} & {
      $background-color: map-get($palette, minisite-identifier-background);
      @if (is-light($background-color)) {
        background-image: url('/themes/custom/tampere/images/phone-black.svg');
      }
    }
  }

  body:not(.cke_editable) & {
    a {
      color: clr(text-inverse);
      text-decoration: none;

      &:hover,
      &:focus {
        color: clr(text-inverse);
        text-decoration: underline;
        text-underline-position: under;
      }
    }
  }
}
