.paragraph {
  position: relative;

  &__heading {
    @include text-element-spacer;
  }

  &--type-course-listing,
  &--type-course-listing-sports {
    .layout-container:not(.layout-container--with-sidebar) & {
      @include large {
        @include breakout(0);
      }
    }
  }

  &--type-course-listing,
  &--type-course-listing-sports,
  &--type-video-embed {
    @include page-element-spacer;
  }

  &--type-image {
    @include page-element-spacer;

    max-width: var(--basic-component-max-width);
  }

  &--type-accordion-text-content,
  &--type-text {
    @include text-element-spacer;

    max-width: var(--text-content-max-width);
  }

  &--type-accordion-text-content.paragraph--view-mode-accordion-content-view-mode,
  &--type-text.paragraph--view-mode-accordion-content-view-mode {
    @include large-down {
      .text-long {
        p, h4, h5 {
          margin-bottom: $space-s;
        }
      }
    }
  }

  &--type-image,
  &--type-accordion-text-content.paragraph--view-mode-accordion-content-view-mode,
  &--type-text.paragraph--view-mode-accordion-content-view-mode,
  &--type-ptv-service-liftup.paragraph--view-mode-accordion-content-view-mode {
    @include accordion-content-spacer;
  }

  &--type-ptv-service-liftup {
    @include page-element-spacer;

    .ptv-service-liftup-section-heading + * {
      margin-top: 0;
    }
  }

  &--type-embedded-content-and-map-tabs,
  &--type-urban-planning-listing-and-map {
    .tabbed-container__tab-list-item {
      .tabbed-container__tab {
        text-transform: initial;
        font-weight: 600;
        display: flex;
        align-items: center;

        &::before {
          background-image: url('/themes/custom/tampere/images/map.svg');
          background-size: contain;
          background-repeat: no-repeat;
          content: '';
          display: inline-block;
          position: relative;
          top: 0;
          left: -5px;
          height: $icon-small;
          width: $icon-small;

          @include medium-down {
            width: $icon-menu-item;
            height: $icon-menu-item;
          }
        }

        &.is-selected {
          text-decoration: underline;
          border: 2px solid clr(tabbed-container-background);
          border-bottom: none;
        }

        &:not(.is-selected) {
          background: $color-white;
          border: 2px solid clr(tabbed-container-background);
          border-bottom: none;
          color: $color-dark-blue;
        }
      }

      &:nth-child(1) {
        margin-right: $space-xxs;
      }

      // Set list icon.
      &:nth-child(2) {
        .tabbed-container__tab::before {
          background-image: url('/themes/custom/tampere/images/list.svg');
        }
      }
    }

    // Applies only when the select list is not available and for the last panel only.
    .tabbed-container__content .tabbed-container-tab-section-2 {
      .search-bar__search-form {
        .search-bar__input + .search-bar__button {
          margin-top: $space-l-plus;
        }

        .search-bar__button {
          @include medium-down {
            padding: $gutter-mobile;
          }

          max-width: unset;
          padding: $space-m-plus $space-l;
          width: unset;

          .button__text {
            padding-right: $gutter-mobile;
          }
        }
      }
    }

    .search-bar__input,
    .accordion__content .form-item__dropdown {
      @include border(2px, solid, $color-dark-blue);
    }

    .search-bar__search-form .form-item__dropdown {
      @include border(2px, solid, $color-dark-blue);

      background-color: $color-white;
      width: 100%;
    }

    .search-panel__filters {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .search-panel__no-filters-applied {
        font-weight: bold;
      }

      button {
        margin: 0;
      }
    }
  }

  &--type-urban-planning-listing-and-map {
    .tabbed-container__content .tabbed-container-tab-section-2 {
      // Accordion mobile for exposed filter list
      .embedded-content-tab-accordion {
        .accordion__title-wrapper {
          @include medium-down {
            display: block;
          }

          display: none;

          .accordion__heading {
            border: none;
            border-bottom: 2px solid $color-dark-blue;
            padding-top: $space-l;
            padding-bottom: $space-xxs;

            &.is-active {
              box-shadow: unset;
              font-weight: unset;
            }

            .accordion__title {
              margin: 0;
              padding: 0;
            }
          }

          .accordion__icon-wrapper {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            flex: 1;

            .accordion__icon-text {
                margin-left: 0;
                color: $color-black;
                font-family: $font-body;
            }
          }
        }

        .accordion__content.active {
          margin-left: unset;
          margin-right: unset;
        }
      }
    }
  }

  // When the Colorful content liftup has one card, it is wrapped around div instead of ul element
  &--type-colorful-content-liftup div.card-grid__wrapper {
    @include small {
      grid-template-columns: initial;
    }
  }

  &--type-highlighted-targeted-link-list {
    @include page-element-spacer;

    .link-list--primary {
      grid-template-columns: repeat(auto-fill, minmax(calc(var(--basic-component-max-width) / 5), 1fr));
    }
  }
}
