$accordion-icon-color: clr(primary);
$accordion-icon-height: 10px;
$accordion-icon-width: 20px;
$accordion-mobile-font-size: $font-16;
$accordion-desktop-font-size: $font-20;
$accordion-desktop-active-font-size: $font-20;
$accordion-content-horizontal-margin: $space-xs;
$accordion-content-vertical-margin: $space-s;
$accordion-content-margin--large: $space-l;
$accordion-item-distance: $space-m;

@mixin accordion-item($class: '.accordion') {
  @at-root {
    #{$class} {
      font-size: $accordion-mobile-font-size;

      @include large {
        font-size: $accordion-desktop-font-size;
      }
    }

    #{$class}__item {
      display: inline-block;
      margin-bottom: $accordion-item-distance;
      width: 100%;
    }

    #{$class}__heading {
      @include button-reset;

      color: clr(text);
      align-items: center;
      font-family: $font-heading;
      font-size: $accordion-mobile-font-size;
      border: 2px solid clr(accent-secondary);
      cursor: pointer;
      width: 100%;
      padding: $space-m-plus 0;
      display: flex;
      justify-content: space-between;
      text-align: left;

      @include mobile-breakpoint-down {
        flex-direction: column;
        gap: $gutter-mobile;
        align-items: flex-start;
      }

      @include large {
        font-size: $accordion-desktop-font-size;
      }

      &.is-active {
        border-color: clr(primary);
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
        font-weight: $font-weight-bold;

        @include large {
          font-size: $accordion-desktop-active-font-size;
          box-shadow: 0 6px 4px 0 rgba(0, 0, 0, 0.1);
        }

        #{$class}__icon {
          transform: rotate(0deg);
        }
      }

      &:hover,
      &:focus {
        border-color: clr(primary);
      }
    }

    #{$class}__icon {
      flex-shrink: 0;
      transform: rotate(180deg);
      height: $accordion-icon-height;
      width: $accordion-icon-width;

      &:last-child {
        margin-right: $space-l;
      }

      &-wrapper {
        margin: 0 $space-s;
        align-items: center;

        @include mobile-breakpoint {
          white-space: nowrap;
          align-items: unset;
        }
      }

      &,
      &-text {
        color: $accordion-icon-color;
      }

      &-text {
        &--close {
          display: none;
        }

        &[aria-hidden='false'] {
          margin-left: $space-xs;
          margin-right: $space-l;
        }

        [aria-expanded='true'] & {
          &--open {
            display: none;
          }

          &--close {
            display: inline-block;
          }
        }
      }
    }

    #{$class}__title-wrapper {
      margin: 0;
    }

    #{$class}__title {
      @include word-wrap;

      margin: 0 $space-s;
      max-width: var(--text-content-max-width);

      @include large {
        margin: 0 $space-l;
      }
    }

    #{$class}__content {
      display: none;

      &.active {
        display: block;
        margin: $accordion-content-vertical-margin
          $accordion-content-horizontal-margin;

        @include large {
          margin: $accordion-content-margin--large;
        }
      }

      // Drupal
      > :first-child {
        margin-top: 0;
      }
    }
  }
}

.accordion {
  $base_class: &;

  @include accordion-item;

  &__accordions-heading {
    @include heading-large;

    margin-bottom: $space-m;

    @include large {
      margin-bottom: $space-l;
    }
  }

  // Buttons for open & close all items
  &__close-all-button,
  &__open-all-button {
    @include button-minimal;

    margin-bottom: $space-m;
    display: inline-flex;

    .button__icon {
      margin: 0 $space-s 0 0;
      order: -1;
    }

    &.hidden {
      display: none;
    }
  }

  &__close-all-button {
    font-weight: $font-weight-bold;
  }

  // Variations
  &--plain {
    --focus-outline-offset: 5px;

    #{$base_class}__item {
      background-color: clr(background);
      margin-bottom: $space-xs;
    }

    #{$base_class}__title-wrapper {
      font-family: $font-heading;
    }

    #{$base_class}__heading {
      border: $border-thick-transparent;
      box-shadow: none;
      font-family: inherit;
      font-size: $font-18;
      font-weight: $font-weight-medium;

      @include large-down {
        padding-top: $space-m-plus;
        padding-bottom: $space-m-plus;
      }

      @include large {
        font-size: $font-20;
      }

      &:hover:not(.is-active) {
        border: $border-thick-primary;
      }

      &.is-active {
        border-top: $border-thick-primary;
        border-right: $border-thick-primary;
        border-bottom: 0;
        border-left: $border-thick-primary;
        font-weight: $font-weight-bold;
      }
    }

    #{$base_class}__title {
      @include large-down {
        margin-left: $space-m;
      }
    }

    #{$base_class}__icon {
      margin-right: $space-s;

      &:not(:last-child) {
        margin-right: 0;
      }
    }

    #{$base_class}__content {
      font-size: $font-14;
      margin: 0;
      padding-right: $space-m;
      padding-bottom: $space-s;
      padding-left: $space-m;

      @include large {
        font-size: $font-18;
        padding-right: $space-l;
        padding-bottom: $space-l;
        padding-left: $space-l;
      }

      &.active {
        border-right: $border-thick-primary;
        border-bottom: $border-thick-primary;
        border-left: $border-thick-primary;
      }
    }
  }

  &__item--mini {
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;

    #{$base_class}__heading,
    #{$base_class}__heading.is-active {
      font-size: $font-18;

      @include large {
        font-size: $font-20;
      }
    }

    #{$base_class}__heading {
      border: 0;
      margin-top: $space-m * (-1);
      margin-left: $space-m * (-1);
      margin-bottom: $space-m * (-1);
      padding: $space-m;
      width: auto;

      &:hover:not(.is-active) {
        border: 0;
      }

      &.is-active {
        border: 0;
        box-shadow: none;
        font-weight: $font-weight-regular;
      }
    }

    #{$base_class}__title {
      color: clr(primary);
      margin-right: $space-xs-plus;
      margin-left: 0;
      text-decoration: underline;

      #{$base_class}__icon-wrapper {
        text-decoration: none;
      }
    }

    #{$base_class}__icon {
      margin: 0;
    }

    #{$base_class}__content {
      &.active {
        border: 0;
        margin-top: $space-m;
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 0;
      }

      &:hover {
        border: 0;
      }
    }
  }

  &--navigation,
  &__item--mini {
    #{$base_class}__icon {
      &,
      &-text {
        margin-right: 0;
      }
    }
  }

  &--navigation {
    #{$base_class}__heading,
    #{$base_class}__heading.is-active {
      font-size: $font-18;

      @include large {
        font-size: $font-20;
      }
    }

    #{$base_class}__heading {
      background-color: clr(primary);
      border: 0;
      box-shadow: none;
      color: clr(text-inverse);
      font-weight: $font-weight-bold;
      padding: $space-m $space-m-plus;

      &:not(.is-active):not(.accordion__item:last-child .accordion__heading) {
        border-bottom: 4px solid clr(text-inverse);
      }
    }

    #{$base_class}__heading:hover,
    #{$base_class}__heading.is-active {
      #{$base_class}__title {
        text-decoration: underline;
      }
    }

    #{$base_class}__item {
      border-bottom: $border-thick-inverse;
      margin: 0;
      position: relative;
      z-index: 1;

      &:not(:first-child) {
        margin-top: -4px;
      }

      &:last-child::after {
        background-color: clr(primary);
        bottom: 0;
        content: '';
        display: block;
        height: 2px;
        left: 0;
        right: 0;
        position: absolute;
      }
    }

    #{$base_class}__title {
      margin-left: 0;
    }

    #{$base_class}__icon {
      &,
      &-text {
        color: clr(text-inverse);
      }
    }

    #{$base_class}__content {
      margin: 0 $space-m;
    }
  }
}

.accordions {
  @include page-element-spacer;
}

.accordion {
  $base_class: &;

  &__item--has-horizontal-accordion {
    .horizontal-accordion {
      display: none;
    }
    .accordion__content.active ~ .horizontal-accordion {
      display: block;
    }
    .accordion__content[aria-hidden='false'] ~ .horizontal-accordion {
      display: block;
    }
  }

  &--plain {
    .accordion__item--has-horizontal-accordion {
      #{$base_class}__content.active {
        border-bottom: 0;
        margin-bottom: 0;
      }

      #{$base_class}__content.active ~ .horizontal-accordion {
        border-left: $border-thick-primary;
        border-right: $border-thick-primary;
        border-bottom: $border-thick-primary;

        margin: 0;
        padding-right: $space-m;
        padding-bottom: $space-s;
        padding-left: $space-m;

        @include large {
          padding-right: $space-l;
          padding-bottom: $space-l;
          padding-left: $space-l;
        }
      }
      .horizontal-accordion:not(.horizontal-accordion--involvement):not(.horizontal-accordion--general-contact) {
        border-top: 0;
      }
    }
  }
}

.accordion--plain .horizontal-accordion {
  .accordion__heading {
    border: 2px solid clr(accent-secondary);

    &.is-active {
      border-color: clr(primary);
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

      @include large {
        box-shadow: 0 6px 4px 0 rgba(0, 0, 0, 0.1);
      }
    }
  }
  .accordion__content.active {
    border-left: none;
    border-right: none;
    border-bottom: none;
  }
}

