{{ attach_library("tampere/accordion") }}

{% if not accordion_toggle_all_buttons is defined %}
  {% set accordion_toggle_all_buttons = false %}
{% endif %} 

{% set ac_base_class = ac_base_class|default("accordion") %}
<div {{ bem(ac_base_class, (ac_modifiers), ac_blockname) }}>
  {% if accordion_heading %}
    {% include "@atoms/02-text/00-headings/_heading.twig" with {
      "heading_level": 2,
      "heading_base_class": "accordions-heading",
      "heading_blockname": ac_base_class,
      "heading": accordion_heading,
    } %}
  {% endif %}

  {% if accordion_description %}
    {% include "@atoms/02-text/text/01-paragraph.twig" with {
      paragraph_base_class: "description",
      paragraph_blockname: ac_base_class,
      paragraph_content: accordion_description,
    } %}
  {% endif %}

  {% if accordion_toggle_all_buttons %}
    {% include "@atoms/06-buttons/01-button.twig" with {
      button_base_class: "button",
      button_content: "Expand all sections"|t({}, {'context': 'accordion'}),
      button_icon_name: "chevron-down",
      custom_classes: ["accordion__open-all-button"]
    } %}

    {% include "@atoms/06-buttons/01-button.twig" with {
      button_base_class: "button",
      button_content: "Collapse all sections"|t({}, {'context': 'accordion'}),
      button_icon_name: "chevron-up",
      custom_classes: ["accordion__close-all-button hidden"]
    } %}
  {% endif %}
  
  {% block accordion_items %}
    {% for ac_item in accordion_list %}

      {% set accordion_after_content = null %}
      {% if horizontal_accordion_data is defined and ac_item.nid is defined and horizontal_accordion_data[ac_item.nid] is defined %}
        {% set accordion_after_content %}
          {% include "@organisms/accordion/horizontal-accordion/horizontal-accordion.twig" with {
            available_tabs: horizontal_accordion_data[ac_item.nid],
            horizontal_accordion__paragraph_id: ac_item.id,
            horizontal_accordion__heading_level: 3,
            directory: directory,
            base_path: base_path
          } only %}
        {% endset %}
      {% endif %}

      {% include "@organisms/accordion/accordion-item.twig" with {
        accordion_heading: ac_item.dl_heading,
        accordion_content: ac_item.dl_content,
        id: ac_item.id,
        nid: ac_item.nid ?? NULL,
        accordion_after_content: accordion_after_content,
        ac__item__modifiers: (horizontal_accordion_data is defined and ac_item.nid is defined and horizontal_accordion_data[ac_item.nid] is defined)
          ? ['has-horizontal-accordion']
          : []
      } %}
    {% endfor %}
  {% endblock %}
</div>
