{% set icon_with_text__base_class = "icon-with-text" %}

<div {{bem(icon_with_text__base_class, icon_with_text__modifiers, icon_with_text__blockname)}}>
  {% if icon_with_text__icon %}
    {% include "@atoms/04-images/icons/_icon.twig" with {
      icon_base_class: icon_with_text__icon__base_class|default("icon"),
      icon_modifiers: icon_with_text__icon__modifiers,
      icon_blockname: icon_with_text__base_class,
      icon_extra_class: [ "regular" ],
      icon_name: icon_with_text__icon|render|striptags|trim,
      icon_decorative: true,
    } %}
  {% endif %}

  {% if icon_with_text__content %}
    {% block icon_with_text__content_block %}
      {% include "@atoms/02-text/text/07-text-block.twig" with {
        text_block_base_class: "content",
        text_block_blockname: icon_with_text__base_class|default("icon-with-text"),
        text_block_content: icon_with_text__content,
      } %}
    {% endblock %}
  {% endif %}
</div>

