// Color variables - it is better to use the colors in
// components/00-base/01-colors/_01-colors-used.scss rather than
// these colors directly.
//
// Color names taken from https://chir.ag/projects/name-that-color.

// Grayscale
$color-white: #fff;
$color-concrete: #f2f2f2;
$color-mercury: #e5e5e5;
$color-silver: #ccc;
$color-gray: #888;
$color-dove-gray: #666;
$color-tundora: #4c4c4c;
$color-mine-shaft: #333;
$color-black: #000;

// Project
$color-warm-red: #c83e36;
$color-pink: #cb4a6c;
$color-pink-light: #f7e4e9;
$color-dark-blue: #29549a;
$color-light-blue: #39a7d7;
$color-light-green: #abc872;
$color-lighter-light-green: #eaf1db;
$color-yellow: #f4d240;
$color-dark-red: #ae1e20;
$color-light-red: #eb5e58;
$color-lilac: #a5407b;
$color-darkest-blue: #22437b;
$color-blue-steel: #0074a4;
$color-light-blue-dream: #88bce7;
$color-light-blue-water: #91c9ea;
$color-dark-green: #397368;
$color-light-green-petrol: #8cc1b3;
$color-pale-light-green-petrol: #e2f0ec;
$color-yellow-heat: #e8b455;
$color-yellow-heat-light: #f9ecd4;
$color-light-yellow: #f8de79;
$color-dark-gray: #3c3c3b;
$color-middle-gray: #686872;
$color-light-blue-gray: #e5eef8;
$color-light-gray: #f1eeeb;
$color-light-middle-gray: #d8d8d8;
$color-green: #418155;
$color-red-berry: #ad3963;
$color-beige: #f8cb9c;
$color-blue-gray: #8ab3bf;

// Others
$color-warning: #f9fb93;
$color-status: #cfefc2;
