$search-bar-border: 2px solid clr(search-bar);
$search-bar-height: 55px;
$search-bar-max-width: 350px;
$search-bar-max-width--long: 640px;

.search-bar {
  $base_class: &;

  height: $search-bar-height;
  width: 100%;

  @include large {
    width: $search-bar-max-width;
  }

  &__search-form {
    border: $search-bar-border;
    display: flex;
    height: 100%;
    width: 100%;
  }

  &__input {
    border-top: 0;
    border-right: $search-bar-border;
    border-bottom: 0;
    border-left: 0;
    border-radius: 0;
    flex-grow: 2;
    font-family: $font-heading;
    font-size: $font-18;
    height: 100%;
    min-width: 0;
    padding: $space-s;

    &::placeholder {
      color: clr(text);
      opacity: 100%;
      font-size: $font-16;
    }
  }

  &__button {
    align-items: center;
    background-color: clr(search-bar);
    border: 0;
    color: clr(text-inverse);
    cursor: pointer;
    display: flex;
    flex-shrink: 0;
    height: 100%;
    max-width: $search-bar-height;
    justify-content: center;
    padding: $space-xs;
    width: $search-bar-height;
    margin: 0;


    &:hover {
      color: $color-white;
      background-color: $search-bar-hover;
      border: unset;
    }

    &:focus {
      color: $color-white;
      background-color: clr(search-bar);
    }
  }

  &__icon {
    height: $icon-small;
    width: $icon-small;
  }

  // Variations
  &--long {
    @include large {
      width: $search-bar-max-width--long;
    }
  }

  &--no-border {
    #{$base_class}__search-form {
      border: 0;
    }

    #{$base_class}__input {
      border-right: 0;
    }
  }

  &--with-label {
    height: auto;

    #{$base_class}__search-form {
      flex-wrap: wrap;
    }

    #{$base_class}__label {
      @include heading-large;

      color: clr(search-bar);
      font-size: $font-21;
      flex-basis: 100%;
      margin-bottom: $space-l;

      @include large {
        font-size: $font-24;
      }
    }

    #{$base_class}__input-wrapper {
      display: flex;
      flex-wrap: nowrap;
      height: $search-bar-height;
      width: 100%;
      position: relative;

      .map-search-suggestions {
        top: $search-bar-height;
        width: 100%;

        li.ui-menu-item {
          padding: 1px 5px;

          &:focus-visible,
          &:focus {
            // Important needed here to override another !important.
            // There's also a highlight style used to indicate focus.
            outline: none !important;
          }
        }
      }
    }
  }
}

.cludo-search-autocomplete-suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  padding-left: 0px;
  width: 100%;
  max-width: $search-bar-max-width;
  z-index: 10;
  background-color: $color-white;
  border: 2px solid var(--c-border);
  margin: 0;

  @include medium {
    width: max-content;
    display: flex;
    max-width: $search-bar-max-width--long;
  }

  .autocomplete-suggestions-result-container {
    display: flex;
    flex-direction: column;

    margin-top: $space-s;

    @include medium {
      marging-top: $space-m;
    }
  }

  ul {
    width: 100%;
    margin-top: unset;
  }

  li {
    list-style: none;
  }

  .autocomplete-link-container {
    padding: 0 $space-m;
    position: relative;

    @include medium {
      margin-top: $space-m;
      padding: $space-xs;
      padding-right: $space-m;
      width: 50%;
    }

    p {
      font-size: 1rem;
      margin: 0;
      padding: $space-xs 0;
    }
  }

  .autocomplete-description-top {
    font-size: 1rem;
    margin: 0;
    padding: $space-m-plus;
  }
}
// Course and content listing search bar
.listing-search-bar {
  &__button {
    max-width: unset;
    padding: 13px $space-s;
    width: unset;

    &:hover,
    &:focus {
      text-decoration: underline;
      text-underline-position: under;
    }

    .button__text {
      padding-right: $space-s;
      font-family: $font-heading;
    }
  }
}