$material-image-size: 90px;

.downloadable-material {
  $base_class: &;

  @include list-reset;

  display: flex;
  flex-direction: column;

  @include large {
    align-items: flex-start;
    flex-direction: row;
    gap: $space-l-plus;
  }

  &__image-wrapper {
    flex-shrink: 0;
    order: 1;

    @include large-down {
      display: flex;
      flex-direction: row-reverse;
      gap: $space-s;
      justify-content: flex-end;
    }

    &--desktop {
      display: none;

      @include large {
        display: block;
      }
    }

    &--mobile {
      @include large {
        display: none;
      }
    }
  }

  &__image {
    width: $material-image-size;
    height: $material-image-size;
    object-fit: cover;
  }

  &__content-wrapper {
    order: 2;

    @include large {
      flex-basis: 45%;
      flex-grow: 1;
    }
  }

  &__heading {
    display: none;
    font-family: $font-body;
    font-size: $font-16;
    margin: 0;

    @include large {
      display: block;
      font-size: $font-20;
    }

    &--shown-on-mobile {
      display: block;

      @include large {
        display: none;
      }
    }
  }

  &__summary {
    font-size: $font-14;

    @include large-down {
      margin-bottom: $space-xs;
    }

    @include large {
      font-size: $font-18;
      margin-top: $space-xs;
    }
  }

  &__link-wrapper {
    order: 3;

    @include large-down {
      margin-top: $space-xs;
    }
  }

  &__download {
    @include button-default;
    @include button;
  }

  &__icon {
    width: $icon-small;
    height: $icon-small;
    margin-left: $space-m;
  }

  // Variations
  &--no-image {
    #{$base_class}__heading {
      display: block;
    }
  }
}
