{#
/**
 * Available variables:
 * - button_base_class - the base class name
 * - button_modifiers - array of modifiers to add to the base classname
 * - button_blockname - blockname prepended to the base classname
 * - button_attributes - array of attribute,value pairs
 * - button_url - the url this button should poing to
 * - button_content - the content of the button (typically text)
 * - button_icon_decorative - flag for whether or not to mark the button icon as decorative
 *
 * Available blocks:
 * - button_content - used to replace the content of the button with something other than text
 *   for example: to insert an icon
 */
#}
{% set button_base_class = button_base_class|default("button") %}

{% if not custom_classes %}
  {% set custom_classes = [] %}
{% endif %}

{% set custom_classes = custom_classes|merge([ "hyphenate" ]) %}

<button
  {{ bem(button_base_class, (button_modifiers), button_blockname, custom_classes) }}
  {% for attribute,value in button_attributes %}
    {{ attribute }}="{{ value }}"
  {% endfor %}
>
  {% block button_content %}
    {{ button_content }}
    {% if button_icon_name %}
      {% include "@atoms/04-images/icons/_icon.twig" with {
        icon_base_class: "icon",
        icon_blockname: button_icon_blockname|default(button_base_class),
        icon_name: button_icon_name,
        icon_decorative: button_icon_decorative|default(true),
        icon_modifiers: button_icon_modifiers,
      } %}
    {% endif %}
  {% endblock %}
</button>
